<h1 class="navbar-brand">Stock Media Links</h1>
<environment names="Development">
    <div class="navbar">
        <ul>
            <li>
                <a href="@ViewBag.facebook" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="@ViewBag.twitter" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="@ViewBag.youtube" target="_blank">Youtube</a>
            </li>
        </ul>
    </div>
</environment>

<environment excludes="Development">
    <div class="navbar">
        <ul>
            <li>
                <a href="@ViewBag.facebook" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="@ViewBag.twitter" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="@ViewBag.youtube" target="_blank">Youtube</a>
            </li>
            <li>
                <a href="@ViewBag.instagram">Instagram</a>
            </li>
        </ul>
    </div>
</environment>
